<div class="section gf-form-group">
  <h5 class="section-heading">Map Layout</h5>
  <div class="gf-form">
    <label class="gf-form-label width-10">Center</label>
    <div class="gf-form-select-wrapper max-width-10">
      <select class="input-small gf-form-input" 
        ng-model="ctrl.panel.mapCenter" 
        ng-options="mapLocation for mapLocation in ctrl.mapLocationsLabels" 
        ng-change="ctrl.setNewMapCenter()"
        >
      </select>
    </div>
  </div>


  <div ng-show="ctrl.panel.mapCenter==='custom'">
    <div class="gf-form">
      <span class="width-2"></span>
      <label class="gf-form-label width-8">Latitude</label>
      <input type="text"
        class="input-small gf-form-input width-10"
        ng-model="ctrl.panel.mapCenterLatitude"
        ng-change="ctrl.setNewMapCenter()"
        ng-model-onblur />
    </div>
    <div class="gf-form">
      <span class="width-2"></span>
      <label class="gf-form-label width-8">Longitude</label>
      <input type="text"
        class="input-small gf-form-input width-10"
        ng-model="ctrl.panel.mapCenterLongitude"
        ng-change="ctrl.setNewMapCenter()"
        ng-model-onblur />
    </div>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-10">Initial Zoom</label>
    <input type="text" 
      class="input-small gf-form-input width-10" 
      placeholder="1"
      ng-model="ctrl.panel.initialZoom" 
      ng-change="ctrl.setZoom()"
      ng-model-onblur />
  </div>

  <gf-form-switch 
    class="gf-form"
    label="Sticky Labels" label-class="width-10"
    checked="ctrl.panel.stickyLabels" 
    on-change="ctrl.toggleStickyLabels()"
    >
  </gf-form-switch>
</div>


<!-- Metrics -->

<!-- <h5>Datasources</h5>
<div class="section-heading">AirQualityObserved</div>
  <div class="section gf-form-group">
    <div class="gf-form">
      <label class="gf-form-label width-10">Metrics</label>
      <textarea 
        class="gf-form-input width-30"
        ng-model="ctrl.panel.metrics"
        ng-change="ctrl.render()"
        rows="10" required ng-model-onblur
        >
      </textarea>        
    </div>
  </div>
</div> -->

<!-- <h5>Datasources 2</h5>
<div ng-repeat="layerName in ctrl.layerNames">
  <div class="section-heading">{{layerName}}</div>
  <div class="section gf-form-group">
    <div ng-repeat="metric in target.metricAggs">

      <div class="gf-form">
        <label class="gf-form-label width-10">{{metric.column}}</label>
        <input type="text"
          class="gf-form-input width-10"
          ng-init="metric.name = (metric.name ? metric.name : ctrl.defaultMetrics[metric.column].name)"
          ng-model="metric.name"
          ng-change="ctrl.refresh()"
          ng-model-onblur required
          >
        </input>

        <input type="text" 
          class="gf-form-input width-10"
          ng-init="metric.unit = (metric.unit ? metric.unit : ctrl.defaultMetrics[metric.column].unit)"
          ng-model="metric.unit"
          ng-change="ctrl.refresh()"
          ng-model-onblur required 
          >
        </input>

      </div>

    </div>
  </div>
</div> -->


<div class="section gf-form-group">
  <h5 class="section-heading" title="Map between the fieldname from the query and the alias and units associated. (eg. fieldname is 'p', alias is 'pressure', units are 'hPa'">
    Map Metrics Details
  </h5>

  <div class="gf-form">
    <h5 class="width-10 section-heading">Parameter</h5>
    <h5 class="width-10 section-heading">Alias</h5>
    <h5 class="width-10 section-heading">Units</h5>
  </div>

  <div ng-repeat="metric in ctrl.panel.metrics">
    <div class="gf-form">
      <input type="text"
        class="gf-form-input width-10"
        ng-model="metric[0]"
        ng-blur="ctrl.refresh()"
        ng-model-onblur required
        title="q"
        >
      </input>

      <input type="text"
        class="gf-form-input width-10"
        ng-init="metric[1] = (!metric[1] ? ctrl.defaultMetrics[metric[0]].name : metric[1])"
        ng-model="metric[1]"
        ng-blur="ctrl.refresh()"
        ng-model-onblur required
        title="2"
        >
      </input>

      <input type="text" 
        class="gf-form-input width-10"
        ng-init="metric[2] = (!metric[2]? ctrl.defaultMetrics[metric[0]].unit : metric[2])"
        ng-model="metric[2]"
        ng-blur="ctrl.refresh()"
        ng-model-onblur 
        title="3"
        >
      </input>

      <label class="gf-form-label">
        <a class="pointer" ng-click="ctrl.handleRemoveMetric($index)">
          <i class="fa fa-minus"></i>
        </a>
      </label>
    </div>
  </div>
  <div class="gf-form">
    <label class="gf-form-label">
      <a class="pointer" ng-click="ctrl.handleClickAddMetric()">
        <i class="fa fa-plus"></i>
      </a>
    </label>
  </div>    
</div>

<div class="section gf-form-group">
  <h5 class="section-heading">Map Layers</h5>
  <div ng-repeat="layerName in ctrl.layerNames" class="m-b-1">
    <h5 class="section-heading">{{layerName}}</h5>
    <div class="gf-form">
      <span class="gf-form-label width-10">Icon
        <info-popover mode="right-normal">
          <div ng-repeat="iconType in ctrl.iconTypes">
            <i class="fa fa-{{iconType}}"></i> - {{iconType}}
          </div>
        </info-popover>
      </span>

      <select class="gf-form-input icon-select"
        ng-model="ctrl.panel.layersIcons[layerName]"
        ng-options="iconType for iconType in ctrl.iconTypes"
        ng-change="ctrl.render()" title="Choose the marker icon for this layer"
        >
        <option value=""></option>
      </select>

      <select class="gf-form-input icon-select"
        ng-model="ctrl.panel.layersColors[layerName]"
        ng-options="markerColor for markerColor in ctrl.markerColors"
        ng-change="ctrl.render()" title="Choose the marker's color for this layer"
        >
        <option value=""></option>
      </select>
    </div>
  </div>
</div>

<div>
  <h5>Help</h5>
  <p>- Adding this panel for the first time to your dashboard will pre-fill Metrics fields.<br/>
  Replace empty fieldname with the field you want to use as the default for map render</p>
  <p>- You have to select a default datasource or select one from the availables in metrics tab.</p>
  <p>- You can replace your query fieldnames by something more intuitive. (Section <b>Field Mappings/Units</b>)</p>
</div>
