.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  /*  
  background: white;
  background: rgba(255,255,255,0.8);
  */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-top.leaflet-left, .leaflet-bottom.leaflet-left, .leaflet-bottom.leaflet-right {
  z-index: 100;
}

/*---------------------------ADDED-------------------------------------*/

.map-container-popups > div {
  z-index: 1000;
}

#aqi_legend {
  right: 10px;
  bottom: 10px;
  position: absolute;
  border-radius: 2px;
}

/*do not show at start*/
#environment_table, #traffic_table, #data_details, #measures_table, #health_concerns_wrapper {
  display: none;
}

#measures_table {
  width: 200px;
  height: auto;
  max-height: 350px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  overflow-y: auto;
  border-radius: 2px;
}
#health_concerns_wrapper {
  border-radius: 2px;
  width: 400px;
  max-height: 110px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}
#health_concerns_wrapper > div.body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2px;
  border-radius: 2px;
  text-align: justify;
  padding: 5px;
}

#health_risk {
  padding-top: 3px;
  font-size: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
/*  color: black;*/
}

#data_chart {
  width: 100%;
  height: 360px;
  margin-top: 1%;
  z-index: 100; 
  position: relative;
}

#data_details {
  margin-bottom: 5px;
}

.map-container {
  height: 500px;
}

.map-container-popups .info-container>.header {
  text-align: center; 
  /*color: black;*/
  font-weight: bold;
  padding: 6px;
}
.map-container-popups .info-container>.header-left {
  text-align: left !important; 
}
.map-container-popups .info-container>.header>span {
  float: right;
}
.map-container-popups .info-container>.header>span>span.color {  
  padding: 3px;
}

.map-container-popups table.intensity-scale tr > td {
  padding: 6px 8px;
}
.map-container-popups table.intensity-scale tr > td > span {
  padding: 8px 3px;
}

/*levels of intensity*/
.map-container-popups table.intensity-scale tr.level-0 > td:nth-child(2) > span:nth-child(1) {
  background-color: #00e400;
}
.map-container-popups table.intensity-scale tr.level-1 > td:nth-child(2) > span:nth-child(1) {
  background-color: #ffff00;
}
.map-container-popups table.intensity-scale tr.level-2 > td:nth-child(2) > span:nth-child(1) {
  background-color: #ff7e00;
}
.map-container-popups table.intensity-scale tr.level-3 > td:nth-child(2) > span:nth-child(1) {
  background-color: #ff0000;
}
.map-container-popups table.intensity-scale tr.level-4 > td:nth-child(2) > span:nth-child(1) {
  background-color: #8f3f97;
}
.map-container-popups table.intensity-scale tr.level-5 > td:nth-child(2) > span:nth-child(1) {
  background-color: #7e0023;
}