.map-container .map-darken img.leaflet-tile {
  -webkit-filter: brightness(1.6) grayscale(1) contrast(1);
  filter: brightness(1.6) grayscale(1) contrast(1);
}

.map-container .worldmap-popup .leaflet-popup-content-wrapper, .worldmap-popup .leaflet-popup-tip {
  background-color: #333;
  color: white;
/*  border: solid grey 1px;*/
}

.map-container table tr, .info-container {
  color: white;
}

.map-container table.stripes tbody > tr:nth-child(odd) {
  background-color: #181819;
}
.map-container table.stripes tbody > tr:nth-child(even) {
  background-color: #212124;
}

.map-container .info-container, .map-container .aqi_legend, .map-container .traffic_table {
  border: grey solid 1px;
}

.map-container thead > tr, .map-container .info-container {
  background-color: #212124;
}

.map-container .info-container .header {
}
.map-container .info-container .body {
}