/*do not show at start*/
.map-panel .hidden {
  display: none;
}


.map-container {
  height: 500px;
}

.map-container .info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  /*  
  background: white;
  background: rgba(255,255,255,0.8);
  */
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.map-container .info h4 {
  margin: 0 0 5px;
  color: #777;
}

.map-container .legend {
  line-height: 18px;
  color: #555;
}
.map-container .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/*Leaflet map*/
.map-container .worldmap-popup .leaflet-popup-content-wrapper, .worldmap-popup .leaflet-popup-tip {
  border-radius: 3px;
}
.map-container .leaflet-top.leaflet-left, .leaflet-bottom.leaflet-left, .leaflet-bottom.leaflet-right {
  z-index: 100;
}

.map-container .worldmap-popup .stycky-popup-info {
  display: table;  
}

.map-container .worldmap-popup .stycky-popup-info .head {
  font-weight: bolder;
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.map-container .worldmap-popup .stycky-popup-info .body div {
  display: table-row;
}
.map-container .worldmap-popup .stycky-popup-info .body div span {
  display: table-cell;
}

.map-container .worldmap-popup .stycky-popup-info .body div span:nth-child(1) {
  font-weight: bolder;
  font-style: italic;
  padding-right: 10px;
}
/*---------------------------ADDED-------------------------------------*/

.map-container .map-container-popups > div {
  z-index: 1000;
}

.map-container .values-ranges-legend {
  right: 10px;
  bottom: 10px;
  position: absolute;
  border-radius: 2px;
}

.map-container .measures-table {
  width: 200px;
  height: auto;
  max-height: 350px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  overflow-y: auto;
  border-radius: 2px;
}
.map-container .health-concerns-wrapper {
  border-radius: 2px;
  width: 400px;
  max-height: 110px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}
.map-container .health-concerns-wrapper > div.body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2px;
  border-radius: 2px;
  text-align: justify;
  padding: 5px;
}

.map-container .health-risk {
  padding-top: 3px;
  font-size: 100%;
}

.map-container table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.map-container td, .map-container th {
  text-align: left;
  padding: 8px;
/*  color: black;*/
}

.map-container .map-container-popups .info-container>.header {
  text-align: center; 
  /*color: black;*/
  font-weight: bold;
  padding: 6px;
}
.map-container .map-container-popups .info-container>.header-left {
  text-align: left !important; 
}
.map-container .map-container-popups .info-container>.header>span {
  float: right;
}
.map-container .map-container-popups .info-container>.header>span>span.color {  
  padding: 3px;
}

.map-container .map-container-popups table.intensity-scale tr > td {
  padding: 6px 8px;
}
.map-container .map-container-popups table.intensity-scale tr > td > span {
  padding: 8px 3px;
}

/*levels of intensity*/
.map-marker-level-0, .map-container .map-container-popups table.intensity-scale tr.level-0 > td:nth-child(2) > span:nth-child(1) {
  background-color: #00e400;
}
.map-marker-level-1, .map-container .map-container-popups table.intensity-scale tr.level-1 > td:nth-child(2) > span:nth-child(1) {
  background-color: #fdca92;
}
.map-marker-level-2, .map-container .map-container-popups table.intensity-scale tr.level-2 > td:nth-child(2) > span:nth-child(1) {
  background-color: #ff7e00;
}
.map-marker-level-3, .map-container .map-container-popups table.intensity-scale tr.level-3 > td:nth-child(2) > span:nth-child(1) {
  background-color: #d41c32;
}
.map-marker-level-4, .map-container .map-container-popups table.intensity-scale tr.level-4 > td:nth-child(2) > span:nth-child(1) {
  background-color: #7e0023;
}
.map-marker-level-5, .map-container .map-container-popups table.intensity-scale tr.level-5 > td:nth-child(2) > span:nth-child(1) {
  background-color: #8f3f97;
}

.map-marker-default {
  background-color: #00e400;
}


.chart-container {
  width: 100%;
  height: 360px;
  margin-top: 1%;
  z-index: 100; 
  position: relative;
}
.chart-container .data-details {
/*  margin-bottom: 5px;*/
}

select.icon-select{
  font-family: FontAwesome, sans-serif;
}
